.login {

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: $color-white;
    padding: 5rem;
    border: 1px solid $color-grey-5;
    border-radius: 3rem;
    box-shadow: $main-box-shadow;

    & .input-container {
      margin-bottom: 1.5rem;
    }
    
  }

  &-paragraph {
    font-weight: 700;
    font-size: 2rem;
    margin-right: 11.5rem;
    margin-bottom: 2rem;
    color: $color-grey-5;

  }


}