.processes {

  &-container {
    width: 100%;
    padding: 1rem;
    height: 94vh;
  }

  &-filter {
    display: flex;
    align-items: center;

    button {
      margin-left: auto;
    }
  }

  &-page-title {
    font-weight: 100;
    text-align: center;
    color: #2c3e50;
    font-size: 3rem;
    margin-left: 1rem;
    padding-bottom: .5rem;
  }

  &-table {
    margin-top: 2rem;
  }
}
