.actors {
  &__grid {
    &-container {
      width: 100%;
      height: calc(100vh - 125.5px);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 0 2rem 0 2rem;
    }

    &-content{
      width: 100%;
      height: 100%;
    }
  }
}
