.btn {
   text-transform: uppercase;
   text-decoration: none;
   padding: 1.2rem 3rem;
   display: inline-block;
   border-radius: 10rem;
   transition: all .2s;
   background-color: $main-color;
   color: $color-white;
   border: none;
   cursor: pointer;

   
   &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, .2);
      background-color: darken($main-color, 10%);
   }

   &:active {
      transform: translateY(-.1rem);
      box-shadow: 0 .5rem 1rem rgba($color-black, .2);
   }


   &--red {
      background-color: $color-red;

      &:hover {
         background-color: darken($color-red, 10%);
      }
   }
  
   &--disabled {
      cursor: not-allowed;
      background-color: $color-grey-2;
      color: $color-grey-5;

      &:hover {
         transform: none;
         background-color: darken($color-grey-2, 10%);
         box-shadow: none;
      }
   }
}
