.devices {
  &__grid {
    &-container {
      width: 100%;
      height: calc(100vh - 125.5px);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 0 2rem 0 2rem;
    }

    &-content{
      width: 100%;
      height: 100%;
    }
  }

  .ag-theme-blue {
    .ag-header {
      height: 80px !important;
      min-height: 80px !important;

      &-row {
        &-column {
          top: 40px !important;
          height: 40px !important;

          &-group {
            top: 0 !important;
            height: 40px !important;
          }
        }
      }
    }
  }
}

