.header-bar {
    background-color: $main-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
    flex: 0 1 44px;
}

.logout {
    fill: $color-white;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    margin-right: 0.6rem;
}