.json {

  &-container {
    background: $color-white;
    padding: 2rem;
    box-shadow: $main-box-shadow;
    font-size: 1.3rem;
    border-radius: 2rem;

    p {
      color: $color-grey-5;
    }
  }

  &-step-number {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    background-color: $color-grey-1;
    border-radius: 50%;
    width: 6rem;
    padding: 1rem;
  }

  &-status-paragraph {
    font-size: 2rem;
    display: flex;
    align-items: center;

    svg {
      margin-right: 1rem;
    }
  }

  &-create-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    border-bottom: 1px solid grey;
    padding-bottom: 2rem;
  }

  &-reader {
    margin-top: 2rem;
    font-weight: 700;

    p {
      margin-bottom: 1rem;
    }

    &-content {
      height: 19rem;
      overflow-y: scroll;
      width: 35rem;
    }
  }

}