.modal-state {
  label {
    font-size: 1.2rem;
    font-weight: 700;
    color: $color-grey-5;
  }

  & .input-container {
    width: 90%;
    margin: 1rem 1rem;
  }

  &-button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
