.modal {
  width: 50%;
  height: 76rem;
  top: 5%;
  left: 25%;
  padding: 1rem;
  position: absolute;
  background-color: #ecf0f1;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 4;

  &-title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .08rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
  }

  .title-error {
    color: $color-red;
  }

  .title-register {
    color: $main-color;
  }

  &-exit {
    display: flex;
    justify-content: center;
    margin-left: auto;

    div {
      margin-left: auto;
    }

    svg {
      cursor: pointer;
    }
  }
}