.sidebar {
    display: flex;
    flex: 0 0 14%;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    padding: 1rem;

    &-user {
        width: 100%;
        text-align: center;
        font-weight: 700;
        letter-spacing: .1rem;

        &-name {
            border-bottom: .1rem solid darken($color-grey-1, 20%);
            padding-bottom: 2rem;
            margin-bottom: 2rem;
        }
    }

    &-icon {
        fill: $color-grey-2;
        height: 5rem;
        width: 5rem;
    }
}