.sideBar {
    display: flex;
    flex: 0 0 14%;
    flex-direction: column;
    align-items: center;
    height: 100vh; //remover quando montar as pagina
    background-color: lighten($color-grey-1, 2%);
    padding: 1rem;

    &-user {
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 1.3rem;
        letter-spacing: .1rem;
        border-bottom: .1rem solid darken($color-grey-1, 20%);
    }
}