.sidebar-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    color: $color-grey-4;
    word-break: break-all;
    
    &:hover,
    &-active {
        background-color: $color-grey-1;
        border-radius: 1rem;
    }


    & div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.icon {
    margin-right: 1rem;
    fill: $color-grey-4;
    height: 2.5rem;
    width: 2.5rem;
}
