$main-color-sidebar: #ecf0f1;

.sideBar {
    position: absolute;
    width: 16rem;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: lighten($main-color-sidebar, 2%);
    padding: 1rem;
    overflow-y: hidden;

    &-user {
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 1.3rem;
        letter-spacing: .1rem;
        border-bottom: .1rem solid darken($main-color-sidebar, 20%);
    }
}