.workflow {

  &-container {
    font-size: 1.3rem;
    background-color: $color-white;
    border-radius: 1rem;
    box-shadow: $main-box-shadow;
    padding: 2rem;
    flex: 0 0 31%;
    margin: 1%;
    min-width: 200px;
  }

  &-version {
    text-align: center;
    background-color: $color-grey-1;
    border-radius: 50%;
    width: 3.5rem;
    padding: 1rem;
    color: $color-grey-4;
    font-weight: 700;
  }

  &-name {
    font-weight: 700;
    color: $color-grey-4;
    font-size: 1.7rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-header {
    width: 1rem;
  }

  &-content {
    display: flex;
    padding: 1rem 0;
    margin-bottom: 1rem;
    align-items: center;
  }

  &-status {
    margin-left: auto;
    
    & ul {
      display: flex;
      list-style: none;

      & li {
        display: flex;
        align-items: center;
        margin-left: 1.6rem;
        font-weight: 700;
        color: $color-grey-4;

        & svg {
          width: 2rem;
          height: 2rem;
          margin-right: .2rem;
        }
        
      }
    }
  }


  &-description {
    color: $color-grey-4;
    color: #34495e;
    padding: 1rem 0rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    height: 4rem;
    overflow: hidden;
    -webkit-box-orient: vertical;

  }

  &-bottom {
    border-top: 1px solid $color-grey-2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding-top: 2rem;

    & p {
      font-weight: 700;
      color: $color-grey-4;
    }
  }
}

.icon-done {
  fill: $color-grey-4;
}

.icon-play {
  fill: $color-green;
}

.icon-warning {
  fill: $color-yellow;
}

.icon-close {
  fill: $color-red;
}
