// BASE COLORS
$main-color: #3498db;
$color-red: #e74c3c;
$color-green: #2ecc71;
$color-yellow: #f1c40f;
$color-grey-1: #ecf0f1;
$color-grey-2: #bdc3c7;
$color-grey-3: #7f8c8d;
$color-grey-4: #34495e;
$color-grey-5: #2c3e50;
$color-white: #fff;
$color-black: #000;
$default-dark: #515365;

// BOX-SHADOW
$main-box-shadow: 0 .5rem 1rem rgba($color-black, .2);

// HEADER-BAR
$headerbar-height: 44px;

// DETAILS (like search bars and buttons, at the top of the component)
$details-height: 65px;

// CONTENT (below the details part)
$content-height: calc(100vh - #{$headerbar-height} - #{$details-height} - 3px);

// 	MISC
$border-color: #e6ecf5;
