// BASE COLORS
$main-color: #3498db;
$color-red: #e74c3c;
$color-green: #2ecc71;
$color-yellow: #f1c40f;
$color-grey-1: #ecf0f1;
$color-grey-2: #bdc3c7;
$color-grey-3: #7f8c8d;
$color-grey-4: #34495e;
$color-grey-5: #2c3e50;
$color-white: #fff;
$color-black: #000;

// BOX-SHADOW
$main-box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  


