main {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $default-dark;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 12px;
}
